body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    padding: 0;
    margin: 0;
}

.main{
    position: absolute;
    top: 15%;   
}

h1 { 
    font-size: 4.5em;
    letter-spacing: 2px;
    font-weight: 500;
    border: 0px;
    margin: 0px;
    text-align: center;
    color: #595959;
}
